.space {
  width: 100%;
  height: 5rem;
}
.headerContainer {
    width: 100%;
    height: 5rem;
    background-color: #424556;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.headerContent {
    max-width: 1120px;
    height: 5rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;

    .link {
      width: 70px;
      height: 5rem;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        height: auto;
      }
    }

    .containerInfosCart {
      width: 100px;
      height: 5rem;
      display: flex;
      align-items: center;

      .linkCart {
        text-align: right;
        color: #FFF;
        text-decoration: none;
        display: flex;
        align-items: center;
        transition: opacity .2s;

        div {
          text-align: right;
          margin-right: 20px;

          strong {
            display: block;
          }

          span {
            font-size: 12px;
          }
        }

        &:hover {
          opacity: 0.8
        }
      }
    }
}
