.footerContainer {
  width: 100%;
  margin-top: 70px;
  background-color: #424556;
  float: left;
}

.footerContent {
  width: 100%;
  max-width: 1120px;
  padding: 20px 20px;
  margin: 0 auto;

  p {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: var(--white);
  }
}
